DATABASE_URL="file:./dev.db"
ADMIN_PASSWORD="cyberadmin123"
SESSION_SECRET="super_secret_cybersecurity_quiz_token_key_2026"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_SUPABASE_URL="https://fzyozyaajamaesxycjzm.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_J1q-4f8yXMOyCXQZjCToow_18U-qV2J"
GROQ_API_KEY="gsk_your_groq_api_key_here"
